.element__name {
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 29px;
    color: rgba(0, 0, 0, 1);
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}