/*
.popup_opened {
    display: flex;
    justify-content: center;
    align-items: center;
}
*/
.popup_opened {
    visibility: visible;
    position: fixed;
    z-index: 999;
    opacity: 1;
    transition: visibility .8s, opacity .8s ease-in-out;
  }
  