.popup__figure {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}

@media screen and (min-width: 320px) and (max-width: 580px) {
    .popup__figure {
        width: 282px;
        padding: 25px 22px;
    }
}