.element__remove {
    position: absolute;
    top: 24px;
    right: 16px;
   
    border: none;
    background: url(../../../images/svg/delete-button-svg.svg) center no-repeat;
    background-size: 100%;
    /*background-color: transparent;*/
    cursor: pointer;
    height: 19px;
    width: 18px;
    
    transition: 0.3s;
}

.element__remove:hover {
    opacity: .6;
}